body{
  background-color: #3b3b3b;
  color: white;
}
.balancediv {
  background-color: #626262;
  width: 1211px;
  height: 269px;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.Wallet_display {
  width: 355px;
  height: 181px;
  border: 1px solid #9B9B9B;
  border-radius: 15px;
  color: white;
  background-color: #9B9B9B;
  text-align: center;

}

.addmoney {
  width: 538px;
  height: 164px;
  border: none;
  background-color: #EFEFEF;
  border-radius: 15px;
}
.expenselist{
  width: 738.33px;
  height: max-content;
  border: 1px solid #9B9B9B;
  background-color: #ffffff;
  color: black;
  justify-content: space-between;
}